// Colors
$primary_clr_light: #606c38;
$primary_clr_dark: #283618;
$bg_clr: #fefae0;
$secondary_clr_light: #dda15e;
$secondary_clr_dark: #bc6c25;

// Breakpoints
$tablet_breakpoint: 768px;
$desktop_breakpoint: 1200px;
